/* .color{
  color:aqua;
}

.background1{
  background-color: aquamarine;
}

body{
  background-color: burlywood;
} */


* {
  box-sizing: border-box;
}

.menu {
  float: right;
  width: 20%;
  text-align: center;
} 

.menu a {
  border-radius: 4px;
  background-color: blanchedalmond;
  padding: 15px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}


.main {
  float: left;
  width: 80%;
  padding: 0 20px;
}






/* NAVBAR */

.navbar {
  float: right;
  width: 20%;
  text-align: center;
} 

.navbar a {
  border-radius: 50px;
  background-color: rgb(246, 234, 214);
  padding: 12px;
  margin-top: 7px;
  display: block;
  width: 80%;
  color: black;
}

.navbar a:hover{
  color: rgb(218, 141, 26);
}

/* .navbar {
  float: left;
  width: 80%;
  padding: 0 20px;
}
 */














/*  F O R M */



input[type=text] {
  width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* input[type=text]:hover{
  border:1px solid rgb(68, 61, 61); 
} */

input[type=submit] {
  width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#lname{
  width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#form {
 
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  border-radius: 5px;
  background-color: #2eb5f4;
  padding: 25px;
  width: 480px;
}

.body{
  display: block;
  text-align: center;
}


.image{
  border-radius: 10px;
}














.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

a {
  text-decoration: none;
}









/* A L E R T     B O X */


.alert-error {
  padding: 10px;
  background-color: #f44336;
  color: white;
}

.alert-success {
  padding: 10px;
  background-color: #229ee6;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}








@media only screen and (max-width: 620px) {

  /* For mobile phones: */
  .menu,
  .main,
  .navbar,
  .right {
      width: 100%;
  }

}





















/*    C S S      F O R M        */



body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  /* small {
    font-size: 0.5em;
  } */
}



li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}


.table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.col-1 {
  flex-basis: 10%;
}
.col-2 {
  flex-basis: 40%;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 25%;
}
.responsive-table {
  /* li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  } */
  /* .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  } */
  /* .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  } */
  /* .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  } */
  
  /* @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  } */
}

@media all and (max-width: 767px) {
  .table-header {
    display: none;
  }
  /* .table-row{
    
  } */
  li {
    display: block;
  }
  .col {
    
    flex-basis: 100%;
    
  }
  .col {
    display: flex;
    padding: 10px 0;
    /* &:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    } */
  }
}









/*     S E A R C H      B A R      */



form {
  position: relative;
  width: 30rem;
  background: blanchedalmond;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
}
input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}
input[type="search"] {
  outline: 0; 
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none; 
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  font-weight: bold;
  background: burlywood;
  border-radius: 0 var(--rad) var(--rad) 0;
}




